engine-strict=true
ignore-scripts=false
node_version=22.0.0
shamefully-hoist=false
# hint: to install peer dependencies automatically installed, add "auto-install-peers=true"
auto-install-peers=false
# hint: to skip peer dependency errors when pnpm to fails, add "strict-peer-dependencies=false"
strict-peer-dependencies=false
