.commitlintrc.json
.env
.env.*
.envrc
.eslintignore
.eslintrc.cjs
.github/
.husky/
.prettierignore
.prettierrc.cjs
.size-limit.json
**/*.cy.js
**/*.cy.ts
**/*.e2e.js
**/*.e2e.ts
**/*.spec.js
**/*.spec.ts
**/*.test.js
**/*.test.ts
app/
jest.config.ts
mangle.json
src/
test/
testpkg.sh
tsconfig.json
